<section class="container-fluid">
    <h1>{{{title}}}</h1>

    <form id="frmAddCandidate" action="/v1/EnterCandidate/" method="POST">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Party</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> <input type="text" id="txtFName" placeholder="First" </td>
                        <td> <input type="text" id="txtLName" placeholder="Last" </td>
                        <td> <input type="text" id="txtParty" placeholder="D/R" </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="submit" class="btn btn-info" value="Add Candidate" />
    </form>
    <p id="subResult"></p>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-sm-6 ">
            <h2>Candidates</h2>
            {{#candidateList}}
            <div class="row col-md-12">
                <div class="card">
                    <h4>{{name}}</h4>
                    <p>Party: {{party}}</p>
                </div>
            </div>
            <hr style="visibility: hidden" /> {{/candidateList}}
        </div>
    </div>

</section>
<script>
    $("#frmAddCandidate").submit(function (e) {
        e.preventDefault();
        var $form = $(this);
        var URL = $form.attr('action');

        var firstName = $("#txtFName").val();
        var lastName = $("#txtLName").val();
        var party = $("#txtParty").val();
        var posting = $.post(URL, {
            firstName,
            lastName,
            party
        });
        posting.done(function (data) {
            console.log(data);
            let output = JSON.stringify(data);
            $("#subResult").append(output);
        });
    });

</script>