<section class="container-fluid">
    <h1>{{{title}}}</h1>

    <form id="frmAddVoter" action="/api/voter" method="POST">
        <div class="table-responsive col-9">
            First Name: <input type="text" id="txtFName" placeholder="First"/>
            <br>
            <br>
            Last Name: <input type="text" id="txtLName" placeholder="Last"/>
            <br>
            <br>
            Account#: <input type="text" id="txtAccount" placeholder="Address from Ganache"/>
        </div>
        <br>
        <input type="submit" class="btn btn-info" value="Add Voter" />
    </form>
    <hr>
    <div class="row">
        <div class="col-lg-6 col-sm-6 ">
            <h2>Voters</h2>
            {{#voterList}}
            <div class="row col-md-12">
                <div class="card">
                    <h4>{{name}}</h4>
                    <p>Address: {{address}}</p>
                </div>
            </div>
            <hr style="visibility: hidden" /> {{/voterList}}
        </div>
        <hr/>
    </div>

</section>
<script>
    $("#frmAddVoter").submit(function (e) {
        e.preventDefault();
        var $form = $(this);
        var URL = $form.attr('action');

        var _firstName = $("#txtFName").val();
        var _lastName = $("#txtLName").val();
        var _account = $("#txtAccount").val();
        var posting = $.post(URL, {
            name: _firstName + ' ' + _lastName,
            address: _account
        });
        posting.done(function (data) {
            let output = JSON.parse(JSON.stringify(data));
            console.log(output);
        });
    });

</script>